* {
    margin: 0px;
    padding: 0;
    color: black;
}

body{
    background-color: azure;
}

h1,
h1 span {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

.titulo-logo {
    color: black;
}

.textoHeader {
    text-align: center;
    margin-top: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insertText{
    width: 90%;
    margin: 10px auto;
}

input {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.numeros {
    background-color: #eee;
    margin: 25px;
    padding: 10px;
}

.numeros, .abc{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column: auto; */
}

.caja {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 5px;
    padding: 20px;
    text-align: center;
    background-color: lightblue;
    font-weight: bold;
    cursor: pointer;
}

section{
    margin-top: 20px;
}

.caja:hover{
    background-color: lightgreen;
    transition: 1S;
    padding: 18px;
    font-size:2em;
}

.caja:not(:hover){
    transition: 1S;
  }

/* @keyframes  random {
    15% { background-color: red; } 
    30% { background-color: yellow; } 
    45% { background-color: green; } 
    60% { background-color: aquamarine; }
    75% { background-color: white; }  
} */

.abc {
    background-color: #eee;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}

.navmenu {
    border: 1px solid black;
    background-color: #37D9F9;
}

.logo_h2{
    font-size: x-large;
    margin-left: 20px;
}

.logo {
    flex: 30%;
}

.menu {
    display: inline-block;
    padding: 20px;
    align-items: center;
}


.navmenu a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: chartreuse;
    text-decoration: none;
}

.myDynamicTable {
    display: flex;
}

table,
th,
td {
    border: 1px solid black;
    margin: 0 auto;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

footer {
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
}

@media (max-width: 800px) {
    .ulista {
        display: none;
    }

    #logo:checked~.ulista {
        display: block
    }
}

.boton {
    background-color: yellowgreen;
    font-size: 1em;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      